.package {
    background-color:#F5F5F5;
    width:800px;
    margin:auto;
}

.button{
    text-align:center;
    padding:20px 0;
}

.top h3{
    font-family:微軟正黑體;
    text-align:center;
    padding:10px 0;
}

.form-group{
    font-family:微軟正黑體;
    font-size:16px;
}

.respond{
    text-align:center;
    padding:20px 0;
    font-family:微軟正黑體;
    font-size:20px;
}

.error{
    font-size: 16px;
    color: #FF0000;
}

.list-group-item list-group-item-danger{
    margin-left: 0px;
}