.package {
    background-color:#F5F5F5;
    width:500px;
    margin:0px 450px;
}

.button{
    text-align:center;
    padding:20px 0;
}

.top h3{
    font-family:微軟正黑體;
    text-align:center;
    padding:10px 0;
}

.form-group{
    font-family:微軟正黑體;
    font-size:16px;
}

.respond{
    text-align:center;
    padding:20px 0;
    font-family:微軟正黑體;
    font-size:20px;
}